# =========================
# Node / Vite
# =========================
node_modules/
dist/
dist-ssr/
*.local

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment variables
# =========================
.env
.env.local
.env.development
.env.test
.env.production

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
*.swp

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Optional: build cache
# =========================
.eslintcache


# =========================
# Pasta API
# =========================
apps/web/public/api/**
